/* 3.141592 TiBO */

/*------------------------ Fondo --------------------------*/


*{
    margin: 0px;
    padding: 0px;
    min-width: 1366;

}
html, body{
    height: 100vh;
}



.area{
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    width: 100%;
    /*height: 1200vh;*/
    height: 100%;
    position: fixed;
}

.circles{
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*------------------------ Fin fondo --------------------------*/



/*-------------------------- Scrollbar ----------------------------*/
body::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #1c717d;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 8px;

}

body::-webkit-scrollbar-button {
    display:none;
}
/*------------------------ Fin Scrollbar --------------------------*/






/*------------------------------ Fuentes ------------------------------*/
@font-face {
    font-family: 'LeviBrushedTema';
   src: url('../fonts/LeviReBrushed.ttf') format('truetype');
}

@font-face {
    font-family: 'NoirTemas';
    src: url('../fonts/noir-std.ttf') format('truetype');
}

@font-face {
    font-family: 'GabriolaExplicaciones';
    src: url('../fonts/Gabriola.ttf') format('truetype');
}
/*------------------------------ Fin Fuentes ------------------------------*/








/*----------------------- Botones de Mostrar/Esconder explicacion--------------------------*/
.escondidoGeneralidades, .escondidoVariables, .escondidoConcatenar, .escondidoArrays, .escondidoIF, .escondidoWhile, .escondidoBreak, .escondidoDoWhile, .escondidoFor, .escondidoForIn, .escondidoForOf, .escondidoFunciones, .escondidoClases, .escondidoPoo, .escondidoCadena, .escondidoMetodoArray, .escondidoMath, .escondidoConsola, .escondidoDOM, .escondidoSeleccionElementos, .escondidoMetAtributos, .escondidoAtributosGlob, .escondidoAtributosInputs, .escondidoAtributosStyle, .escondidoClassList, .escondidoObModElementos, .escondidoCreaElementos, .escondidoObModChilds, .escondidoMetChild, .escondidoEventos, .escondidoWindow, .escondidoEventos, .escondidoTemp, .escondidoError, .escondidoSwitch, .escondidoCallback, .escondidoPromesas, .escondidoModal{
    opacity: 0;
    transition: all 0.2s;
    overflow: hidden;
    max-height: 0;
}

.mostrar{
   opacity: 1;
   transition: all 0.9s;
   max-height: 9999999px;
}

.botonEsconderMostrar{
    width: 45px;
	height: 45px;
	background-color: transparent;  
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50% ;
	position: fixed;
	cursor: pointer;
	border: 4px solid transparent;
}

.botonEsconderMostrar:hover{
    width: 45px;
	height: 45px;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.000001);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 25% ;
	position: fixed;
	cursor: pointer;
	border: 1px solid transparent;
}
/*----------------------- Fin boton de Mostrar/Esconder explicacion--------------------------*/





/*------------------------- Temas -------------------------*/

    .boones{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .botonAnteriorNivelPrimer{    
        position: absolute;
        background-color: transparent;
        border: none;
        color:grey;
        top: 30px;
        left: 25%;

    }


    .botonSiguienteNivel{
        display: block;
        position: absolute;
        background-color: transparent;
        border: none;
        color:white;
        top: 30px;
        left: 75%;
    }
    
    .botonAnteriorNivel{
        position: absolute;
        background-color: transparent;
        border: none;
        color:white;
        left: 25%;
        top: 30px;
    }

    .botonSiguienteNivelUltimo{
        position: absolute;
        background-color: transparent;
        border: none;
        color:grey;
        left: 910px;
        top: 30px;
    }


    .botonIndex{
        position: absolute;
        background-color: transparent;
        border: none;
        color:#73C8A9;
        top: 18%;
        left: 45%;
    }

    .botonIndex2{
        position: absolute;
        background-color: transparent;
        border: none;
        color:#73C8A9;
        top: 18%;
        left: 47%;
    }

    .botonIndex3{
        position: absolute;
        background-color: transparent;
        border: none;
        color:#73C8A9;
        top: 18%;
        left: 49%;
    }

    .espacioArriba{
        position: absolute;
        top: 930px; 
    }

    .Blur{
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.1);
        margin-left: 15%;
        margin-right: 15%;
        padding: 5%;
    }
    
    .Titulo{
        z-index: 100;
        position: fixed;
        color: white;
        text-align: center;
        font-family: LeviBrushedTema;
        font-size: 62px;
        text-shadow: 4px 4px black;
        top: 10px;
        text-align: center;
        left: 30%;
    }
    
    
    .Tema{
        top: 50%;
        font-family: NoirTemas;
        color: white;
        margin-left: 50px;
    }
    
    
    .Explicacion{
        font-size: 25px;
        font-family: GabriolaExplicaciones;
        color: white;
        margin-left: 65px;
        line-height: 25px;
    }
    
    b{
        text-shadow: 1px 1px black !important;
        
    }
    
    h1, h2, p{
        margin: 0;
        padding: 0;
    }
/*------------------------- Fin Temas -------------------------*/







 
/*------------------------- Boton ir arriba -------------------------*/
    #button-up{
        top: 30px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50% ;
        font-size: 20px;
        position: fixed;
        cursor: pointer;
        border: 4px solid transparent;
        z-index: 100;
    }
    
    #button-up:hover{
        background-color:#345c4b;
        border-color: rgba(0, 0, 0, 0, 1);
        z-index: 100;
    }
/*------------------------- Fin boton ir arriba -------------------------*/







  
/*------------------------- Boton ir abajo -------------------------*/
    #button-down{
        z-index: 100;
        border-color: rgba(0, 0, 0, 0, 1);
        width: 60px;
        height: 60px;
        background-color:transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50% ;
        font-size: 20px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        border: 4px solid transparent;
    }
    
    #button-down:hover{	
        z-index: 100;
        background-color:#345c4b;
        border-color: rgba(0, 0, 0, 0, 1);    
    }
/*------------------------- Fin boton ir abajo -------------------------*/








/*-------------------------Parte del menu desplegable-------------------------*/
a {
    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    text-decoration: none;
}

.list {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*text-transform: uppercase;*/
    position: absolute;
    margin-left: -140px;
    margin-top: -280px;
    top: 172%;
}

.list a {
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}

.list dt, .list dd {
    text-indent: 40px;
    line-height: 55px;
    background: #E0FBAC;
    margin: 0;
    height: 65px;
    width: 770px;
    color: #fff;
}

.list dt {
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    font-family:  GabriolaExplicaciones;
}

.list dd {
    border-top: 1px dashed rgba(255,255,255,0.3);
    line-height: 35px;
    font-size: 24px;
    height: 35px;
    margin: 0;
    font-family:  NoirTemas;
}


.toggle{
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border-radius: 3px;

    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 50px;
    background: #2b2b2b;

    background-image: linear-gradient(to right, #44A08D 0%, #093637  51%, #44A08D  100%);  
    background-size: 200% auto;
    transition: 0.6s;

    bottom: -45%;
    left: 45%; 
   
    text-align: center;
    font-size: 12px;

    position: absolute;
    color: #fff;

    width: 140px;

    margin: 0 auto;
}

.toggleClic{
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border-radius: 3px;

    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 50px;

	background-image: linear-gradient(to right, #44A08D 0%, #093637  51%, #44A08D  100%);  
    background-size: 200% auto;
    transition: 0.6s;   	

    bottom: 40%;
    left: 45%; 
   
    text-align: center;
    font-size: 12px;

    position: absolute;
    color: #fff;
    
    width: 140px;

    margin: 0 auto;
}

.toggleClic:hover{
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}


.toggle:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;

}



/* Color del menu */
.sashimi dt, .sashimi dd, .sashimi a { background: #73C8A9; }
.nigiri dt, .nigiri dd, .nigiri a { background: #E32551; }
.maki dt, .maki dd, .maki a { background-color: #38977f; }

.sashimi a:hover { background: #61c19e; }
.nigiri a:hover { background: #d31b46; }
.maki a:hover { background-color: #38af95 }

.maki {
    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;

    left: 30%;
    top: 70%;
}

.demo{
    top: 90%;
}
/*------------------------- Fin menu desplegable -------------------------*/



.modalDiv{
    width: 490px;
    height: 70px;
    color: white;
    background-color: red;
    position: fixed;
    z-index: 1000;
    bottom: 10%;
    left: 65%;
    display: none;
}

.modalDiv > p{
    position: relative;
    top: 40%;
}

.btnCerrarModal{
    position: relative;
    top: 10%;
    left: 97%;
}

.mostrarModal{
    display: block;
}


